# Deusto
CONSUMER_KEY = '7WVJjUFxjG07hT1boGuS167gJ'
CONSUMER_SECRET ='faY2XRyV4zUO1ScI38T6PsXcVLutOzFgMcAi0VOabgvkq2fXtl'
OAUTH_TOKEN = '2833997469-weiExfPXQ3Mscii21BD5kZHb1srghWzuuLaYLHa'
OAUTH_TOKEN_SECRET = 'B4KYovQBMjnziTeSi1FrkYFOqeKsr4cm76aIrjoknXZUn'

# UNED
# CONSUMER_KEY = 'PhViTkMjodPuP644jkqG4fWOH'
# CONSUMER_SECRET = 'ZODdGqpDauSAB9ftuubCxM3tgHPJvGTPQxPklfYyBymI1BfcSx'
# OAUTH_TOKEN = '2912545005-TImDJUlEIaavqUurgHS0IQ7pUce7Z0T7txbRMvI'
# OAUTH_TOKEN_SECRET = '5DpNjoMxBaZjy2TUKhHK9NY324zaRwXR0NUQ4066vq7Kl'

