WEB_CREDENTIALS = {
    'deusto:asdf8adsf123kdfas8' : 'deusto',
    'uned:1kljsdf8341kdfadf1r8' : 'uned',
}

WEB_USER = 'deusto'
WEB_PASSWORD = 'asdf8adsf123kdfas8'
WEB_URL = 'http://localhost:5000/'

MONGODB_PUSHES_URI = 'mongodb://twitter_tests:twitter_t3sts@apps.morelab.deusto.es:27019/twitter_tests'

# Deusto
CONSUMER_KEY = '7WVJjUFxjG07hT1boGuS167gJ'
CONSUMER_SECRET ='faY2XRyV4zUO1ScI38T6PsXcVLutOzFgMcAi0VOabgvkq2fXtl'
OAUTH_TOKEN = '2833997469-weiExfPXQ3Mscii21BD5kZHb1srghWzuuLaYLHa'
OAUTH_TOKEN_SECRET = 'B4KYovQBMjnziTeSi1FrkYFOqeKsr4cm76aIrjoknXZUn'

# UNED
# CONSUMER_KEY = 'PhViTkMjodPuP644jkqG4fWOH'
# CONSUMER_SECRET = 'ZODdGqpDauSAB9ftuubCxM3tgHPJvGTPQxPklfYyBymI1BfcSx'
# OAUTH_TOKEN = '2912545005-TImDJUlEIaavqUurgHS0IQ7pUce7Z0T7txbRMvI'
# OAUTH_TOKEN_SECRET = '5DpNjoMxBaZjy2TUKhHK9NY324zaRwXR0NUQ4066vq7Kl'

